<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="navbar-text"><%= @user.email %> favourites</h3>
    </div>
  </div>
</nav>

<% @favourites.each do |station| %>
  <div id="favouriteContainer">
    <%= content_tag :div, class: "col-md-2 favourite" do %>
      <%= link_to station.name, station_info_path(:data => station.station) %> 
    <% end %>
    <%= content_tag :div, class: "col-md-2 favourite right" do %>
      <%= link_to 'Delete', station, method: :Delete, data: { confirm: "You sure?"} %>
    <% end %><br>
  </div>
<% end %>