<% if current_user %>
  <ul id ="loginContainer" class="nav navbar-nav loggedIn">
        
    <div class="dropdown userDropDown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.email %> <b class="caret"></b></a>
      <ul class="dropdown-menu user">
        <li role="presentation"><%= link_to('Log out', logout_path) %></li>
        <li role="presentation"><%= link_to 'Edit Favourites',@current_user, method: :get %></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><strong>Your Favourites</strong></li>
        <% @favs.each do |fav| %>
          <%= link_to fav.name, station_info_path(:data =>fav.station) %><br>
        <% end %>
       
      </ul> <!-- end of dropdown-menu -->
    </div> <!-- end of dropdown -->
  </ul> <!-- end of loginContainer -->
<% else %>
  <ul id ="loginContainer" class="nav navbar-nav loggedOut">
        
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
      <div class="dropdown-menu login">
        <%= form_tag(sessions_path) do %>

          <%= label_tag :email %><br>
          <%= text_field_tag :email, nil, class: "userInput" %><br>

          <%= label_tag :password %><br>
          <%= password_field_tag :password, nil, class: "userInput" %><br>

          <%= submit_tag("Sign in", class: "btn btn-large btn-primary") %>
          <%= link_to 'Sign up', signup_path, :class => 'btn btn-large btn-primary' %>
        <% end %>    
      </div> <!-- end of dropdown-menu -->
    </li> <!-- end of dropdown -->
  </ul> <!-- end of loginContainer -->
<% end %>