<div class="page-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <ul class="nav nav-tabs">
        <li id="all_tab"class="tab"><%= link_to 'All',all_trains_path(data:'A') %></li>
        <li id="suburban_tab" class="tab"><%= link_to 'Suburban', all_trains_path(data:'S') %></li>
        <li id="dart_tab" class="tab"><%= link_to 'Dart',all_trains_path(data:'D') %></li>      
      </ul>        
    </div>    
    <p id= "headerName"class="navbar-text">Where's My Train</p>
    <%= form_for search_stations_path, :html => { :class => 'navbar-form navbar-right' } do |f| %>      
        <div class="form-group">          
          <%= f.text_field :name, :class => 'form-control' %>         
        </div>        
        <%= f.submit 'Search', :class => 'btn btn-default' %>     
    <% end %>
  </nav>
</div>

<h1><strong>All trains currently running</strong></h1>

<p id = "click_info">Click any train below to see it on a map</p>

<section id = "station_list">
  <%= will_paginate @stations %><br>

  <% for station in @stations %>
    <%= link_to station[:desc], train_info_path(:data => station[:code]), 
    	:class => 'stationInfo', data: station[:code] %><br>
  <% end %>

  <%= will_paginate @stations %>
</section><!--station_list!-->

