<div class="page-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">    
    <p id="searchHeader" class="navbar-text">Where's My Train</p>
    <%= content_tag :h2, id:"all_trains_link", class: "navbar-right" do %>
      <%= link_to 'All trains', all_trains_path %>
    <% end %>
  </nav>
</div>
<section id ="searchStations">
	<%= form_for search_stations_path, :url => search_stations_path, html: { class: "searchForm" },:method => 'get' do  %>
		<p>
			<%= text_field_tag :data, params[:data], :value => "E.G. dublin", class: "textInput" %>
			
		</p>
		<%= submit_tag "Search" %>
	<% end %> 
</section>

<section id="results">
  
  <% @searchResults.each do |station| %>
    <%= link_to station[:stationDesc], station_info_path(:data => station[:stationCode]), 
      :class => 'stationInfo', data: station[:stationCode] %><br>
  <% end %>

  

</section>