<div class="page-header">
	<%= content_tag :h2 do %>
		Trains servicing <%= @stationMessage %> in the next 90 mins
	<% end %>
</div>



<div id = "mapContainer">
	<div id = "map"></div>
<div>

<section id = "stationTrains">
	<% @stationByTime.each do |station| %>
		<strong><%= station[:origin] %> to <%= station[:destination] %> due in <%= station[:due] %> mins</strong>

		<%= link_to train_info_path(:data => station[:code]) do %>
			
			<%= content_tag :p, :class => "origin" do %>
				Origin: <%= station[:origin] %> <% if station[:arrival] == '00:00' %>
																					Expected Arrival: Originates here
																					<% else %>
																					Expected Arrival: <%= station[:arrival] %>
																					<% end %>
			<% end %>	
			<%= content_tag :p, :class => "destination" do %>

				Destination: <%= station[:destination] %> <% if station[:depart] == '00:00' %>
																											Expected departure: Terminates here 
																									<% else %>
																										Expected departure: <%= station[:depart] %>
																									<% end %>
		<% end %>
			<% end %><br>
	<% end %>
</section>