<div class="page-header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<%= content_tag :h2, class: "navbar-left" do %>
			Trains servicing <%= @stationMessage %> in the next 90 mins
		<% end %>
		<%= content_tag :h2, id:"all_trains_link", class: "navbar-right" do %>
	  	<%= link_to 'All trains', all_trains_path %>
	  <% end %> 
	</nav>
</div>



<div id = "mapContainer">
	<div id = "map"></div>
	<%= form_tag addFavourite_path(:code => @returned_station_code, :name => @stationMessage) do %>
	<%= submit_tag('Add to favourites', class: 'btn btn-danger') %>

	<% end %>
<div><br>

<section id = "stationTrains">
	<% @stationByTime.each do |station| %>
		<strong><%= station[:origin] %> to <%= station[:destination] %> due in <%= station[:due] %> mins</strong>

		<%= link_to train_info_path(:data => station[:code]) do %>
			
			<%= content_tag :p, :class => "origin" do %>
				Origin: <%= station[:origin] %> <% if station[:arrival] == '00:00' %>
																					Expected Arrival: Originates here
																					<% else %>
																					Expected Arrival: <%= station[:arrival] %>
																					<% end %>
			<% end %>	
			<%= content_tag :p, :class => "destination" do %>

				Destination: <%= station[:destination] %> <% if station[:depart] == '00:00' %>
																											Expected departure: Terminates here 
																									<% else %>
																										Expected departure: <%= station[:depart] %>
																									<% end %>
		<% end %>
			<% end %><br>
	<% end %>
</section>