<div id="mapContainer">
  <div id="map"></div>
</div>
<%= @returned_station %><br>
<%= link_to 'All trains', all_stations_path %><br>
<%= @date %><br>

<% for train in @allTrains %>
	<% if train[:current?] == 'C' %>
		<%= link_to(station_info_path(:data => train[:stop])) do %>
			<p class="red"><%= train[:stop] %>: Expected arrival: <%= train[:exArrival] %>, Expected departure: <%= train[:exDepart] %></p>
		<% end %>		

	<% else %>
		<p><%= train[:stop] %>: Expected arrival: <%= train[:exArrival] %>, Expected departure: <%= train[:exDepart] %></p>

	<% end %>
<% end %>

