<div class="page-header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <% if @returned_train %>
	  	<%= content_tag :h2, class: "navbar-left" do %>
	  		<%= @returned_train[:desc] %>
	  	<% end %>
		<% else %>
			<h2 class="navbar-left">No train info</h2>
	  <% end %>
	  <%= content_tag :h2, id:"all_trains_link", class: "navbar-right" do %>
	  	<%= link_to 'All trains', all_trains_path %>
	  <% end %> 
	</nav>
</div>

<% if @returned_train %>
	<div id="mapContainer">
	  <div id="map"></div>
	</div>
<% else %>
	<section id="noTrainImg">
		<p>Train may not have departed yet</p>
		<img src="/assets/noTrain.jpg">
	</section>
<% end %>
<br>

<div id="trainInfoList">
	<%= link_to 'All trains', all_trains_path %><br>
	<p>Train calling at following stations:</p>

	<% for train in @allTrains %>
		<% if train[:current?] == 'N' %>
			<%= link_to station_info_path(:data => train[:stopCode]), :class => 'trainInfo', data: train[:stop], :class => 'black' do %>
				<%= train[:stop] %>: Expected arrival: <%= train[:exArrival] %>, Expected departure: <%= train[:exDepart]  %>
			<% end %><br>

		<% else %>
			<%= link_to station_info_path(:data => train[:stopCode]), :class => 'trainInfo', data: train[:stop] do %>
				<%= train[:stop] %>: Expected arrival: <%= train[:exArrival] %>, Expected departure: <%= train[:exDepart] %><br>
			<% end %>	
		<% end %>
	<% end %>
</div>

